table {
    table-layout: fixed;
    word-wrap: break-word;
}

.row>div {
    min-height: 80px;
    background-color: rgb(145, 145, 145);
}

.selected {
  border: 2px solid red;
}

.caseSelected {
  opacity: 0.5;
}

.pionSelected {
  background-color: rgba(4, 99, 7, 0.5) !important;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.1) inset;
}

.J1, .J2 {
  color: honeydew;
  font-weight: bolder;
}

#div-joueur1, #div-joueur2 {
  margin-top: 2.5rem;
}