body {
    margin: 0;
    padding: 0;
}

.head {
    padding-top: 4%;
    text-align: center;
}

.container {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin-top-5 {
    margin-top: 5%;
}

.bouton-menu {
    font-size: 25px;
    padding: 1% 2%;
}