<div id="footer" class="d-flex justify-content-center">
  <ul class="nav nav-fill">
    <li class="nav-item pr-2">
      <span>Made by Baptiste & Naïm © 2020</span>
      <a href="https://github.com/NaimDrive/Projet-Siam">
        <i class="typcn icon typcn-social-github-circular" data-name="Social github circular" data-class="typcn-social-github-circular" data-code="0xe0e8" data-match="Social github circular social github circular"></i>
      </a>
    </li>
    <li class="nav-item">
      <!--  -->
    </li>
  </ul>
</div>