<nav class="navbar mb-3">
    <span class="navbar-brand mb-0 ml-2">
        <img src="/images/logo_header_white.png" alt="logo_header_white" width="30" height="30">
    </span>
    <div class="container justify-content-end mr-0">
        <button class="btn btn-success mb-0 mr-4" id="connexion" data-toggle="modal" data-target="#connexionModal">
            Connexion
        </button>
        <button class="btn btn-outline-light mb-0" id="inscription" data-toggle="modal" data-target="#inscriptionModal">
            Inscription
        </button>
    </div>
</nav>

<div class="modal fade" id="connexionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">Connexion</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- =========== FORM CONNEXION ============== -->
        <form id="connexion_form">
          <div class="modal-body">
            
            <div class="form-group">
              <label>Votre pseudo</label>
              <input type="username" id="username_co" class="form-control"  placeholder="Pseudo" required>
              <div class="valid-feedback">
                OK
              </div>
              <div class="invalid-feedback">
                Obligatoire
              </div>
            </div>
            <div class="form-group">
              <label>Votre mot de passe</label>
              <input type="password" id="password_co" class="form-control" placeholder="Mot de passe" required>
              <div class="valid-feedback">
                OK
              </div>
              <div class="invalid-feedback">
                Obligatoire
              </div>
            </div>
                      
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
            <button type="submit" id="submit_co" class="btn btn-success">Se connecter</button>
          </div>
        </form>
        <!-- ========================================= -->
      </div>
    </div>
</div>

<div class="modal fade" id="inscriptionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4"s>Inscription</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- =========== FORM INSCRIPTION ============== -->
        <form id="inscription_form">
          <div class="modal-body">

            <div class="form-group">
              <label>Votre pseudo</label>
              <input type="text" id="username_sub" class="form-control"  placeholder="Pseudo" required>
              <div class="valid-feedback">
                OK
              </div>
              <div class="invalid-feedback">
                Obligatoire
              </div>
            </div>
            <div class="form-group">
              <label>Votre mot de passe</label>
              <input type="password" id="password_sub" class="form-control" placeholder="Mot de passe" required>
              <div class="valid-feedback">
                OK
              </div>
              <div class="invalid-feedback">
                Obligatoire
              </div>
            </div>
            <div class="form-group">
              <label>Confirmez votre mot de passe</label>
              <input type="password" id="password_conf" class="form-control" placeholder="Confirmer mot de passe" required>
              <div class="valid-feedback">
                OK
              </div>
              <div class="invalid-feedback">
                Mot de passe incorrect
              </div>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
            <button type="submit" id="submit_sub" class="btn btn-dark">S'inscrire</button>
          </div>

        </form>
        <!-- ========================================= -->
      </div>
    </div>
</div>
<script src="/js/inscription.js"></script>
<script src="/js/connexion.js"></script>