<nav class="navbar mb-3">
    <span class="navbar-brand mb-0 ml-2">
        <img src="/images/logo_header_white.png" alt="logo_header_white" width="30" height="30">
    </span>
    <div class="container justify-content-end mr-0">
        <span class="navbar-brand h4 mb-0 mr-5">Bertrand Mazure</span>
        <!-- <button class="btn btn-success mb-0 mr-4" id="connexion">Connexion</button> -->
        <button class="btn btn-outline-danger mb-0" id="deconnexion">Deconnexion</button>
    </div>
</nav>