<nav class="navbar mb-3">
    <span class="navbar-brand mb-0 ml-2">
        <a href="index.php">
            <img src="/images/logo_header_white.png" alt="logo_header_white" width="30" height="30">
        </a>
    </span>
    <div class="container justify-content-end mr-0">
        <span id="current_user" class="navbar-brand h4 mb-0 mr-5"></span>
        <button class="btn btn-outline-danger mb-0" id="deconnexion">Deconnexion</button>
    </div>
</nav>
<script src="/js/connexion.js"></script>